.loader{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img {
            width: auto;
            height: 20em;
            animation: pulse 0.5s infinite ease-in-out;
        }
    }
}